---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class=" h-dvh">
		<h1 class=" text-center text-4xl font-black">Juego del 21</h1>
		<div class="flex">
			<div class=" flex flex-col">
				<button id="drawButton" class=" border-2 bg-white rounded-lg text-xl m-2">Pedir carta</button>
				<button id="finishGame" class=" border-2 bg-white rounded-lg text-xl m-2">Plantarse</button>
			</div>
			<div id="cardResult" class=" flex text-red-500 text-3xl font-medium "></div>
		</div>
		
		<script src="../../public/game.js"></script>
	</main>
</Layout>

<style></style>
