---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Proyecto API">
	<main class=" h-dvh">
		<div class="flex">
			<div id="cardResult" class=" flex"></div>
		</div>
		
		<script src="../../public/game.js"></script>
	</main>
</Layout>

