---

---

<header class="bg-gray-900 grid-cols-3">
    <span></span>
    <h1 class="text-center text-4xl text-white font-black">Blackjack</h1>
    <div>
        <button id="drawButton" class="border-2 bg-white rounded-lg text-xl m-2">Pedir carta</button>
        <button id="finishGame" class="border-2 bg-white rounded-lg text-xl m-2">Plantarse</button>
    </div>
</header>
